parameters:
  database_driver:   pdo_sqlite
  database_host:     127.0.0.1
  database_port:     null
  database_name:     blocks_test
  database_user:     root
  database_password: ~
  database_path:     %kernel.cache_dir%/%database_name%.sqlite
